xml/lista_1/receitas/receitas.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT livro-de-receitas (abertura, receitas)>

<!ELEMENT abertura (autor, data, local)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT local (#PCDATA)>

<!ELEMENT receitas (receita)+>

<!ELEMENT receita (título, ingredientes, preparação)>
<!ATTLIST receita língua CDATA #REQUIRED>
<!ATTLIST receita classificação CDATA #REQUIRED>

<!ELEMENT título (#PCDATA)>

<!ELEMENT ingredientes (ingrediente)+>
<!ELEMENT ingrediente (#PCDATA)>
<!ATTLIST ingrediente ing CDATA #IMPLIED>

<!ELEMENT preparação (instrução)+>
<!ELEMENT instrução (#PCDATA)>